* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8f8f8;
  font-family: 'Rubik', sans-serif !important;
  color: #212121;
  margin: auto !important;
  @apply max-w-screen-xl;
  @apply px-8;
  @apply py-0;
}

.NavBar {
  background-color: #f8f8f8;

  &__menu {
    flex-basis: 100%;
  }
}

.EntryPage {
  &__image {
    height: 95%;
  }
}

@media (min-width: 1024px) {
  .NavBar {
    &__menu {
      flex-basis: 0%;
    }
  }

  .WhatIDo {
    &__leftBlock {
      margin-right: 10%;
    }
  }
}
